@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 81 54% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 142 59% 42%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 142 59% 42%;
    --input: 0 0% 89.8%;
    --ring: 142 59% 42%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

  /* When a client component adds this class, reserve space for the fixed sidebar on desktop only */
  @media (min-width: 768px) {
    body.has-sidebar.sidebar-expanded {
      padding-left: 16rem; /* matches sidebar width (w-64) */
      transition: padding-left 200ms ease;
    }

    body.has-sidebar.sidebar-collapsed {
      padding-left: 6rem; /* matches collapsed sidebar width (w-4) */
      transition: padding-left 200ms ease;
    }
  }


  /* hide scroll indicator from all over the app */
  ::-webkit-scrollbar {
    display: none;
  }

  

@layer components {
  .btn-primary {
    @apply bg-primary text-primary-foreground hover:bg-primary/90;
  }
}